@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Lato:wght@300&family=Lobster&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 217, 182);
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

/* Headings and logo */

h1 {
    font-family: "Lobster", serif;
    color: peru
}

h2,
h3 {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: peru
}

#logo {
    float: left;
    font-size: 350%;
    margin-left: 20px;
}

/* Nav Menu */
#menu {
    font-size: 170%;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
    color: peru
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    margin-bottom: 1em;
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid peru
}

.active {
    border-bottom: 1px solid peru;
}

/* Hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image3.jpg") no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Cover text over hero image */
#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(155, 94, 4, 0.7);
    position: absolute;
    bottom: 30px;
    right: 150px;
    width: 350px;
    height: 250px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#cover-text>h2 {
    font-family: "La Belle Aurore", serif;
    color: #ffffff;
    text-transform: none;
    font-size: 210%;
    text-align: left;
}

/* Reasons section */

#reasons {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: silver;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: green;
}